.header-with-profile{
    background-color: #075E54;
    color: white!important;
    width: 100% !important;
    height: 4.2rem;
    position:absolute;
    top:0px;
    
}
.header-icons{
    cursor: pointer;
    font-size: 1.1rem;
}

.input-search-contact-container{
    display: flex;
    display: block;
    align-items: center;
    height: 2.5rem;
    position:absolute;
    background-color: #ededed;
    width: 94%;
    margin: 0.5rem 1rem 0.5rem 1.2rem;
    border-radius: 10px;
    top:4.2rem;
}

.input-search-contact-container-mui {
    position:absolute;
    top:4.2rem;
    width: 100%;
    
    padding: 1rem;
}

.search-contact-input{
    border:none;
    font-size: 0.7rem;
    background-color: #ededed; 
    width: 80%;
    outline: none;
    padding: 0.7rem;
    margin-left: 1rem;
}

.search-contact-input:focus{
    border:none
}

.personal-Info{
    max-width: 100%;
    min-width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    background-color: #ededed;
    
}

.personal-info-header{
    background-color: #075E54;
    color: white;
    padding: 1rem;
    padding-top:3rem;
}

.personal-info-header h4{
    padding-top: 1.7rem;
    margin-left:3rem
}

.personal-info-form-container{ 
    display: flex;
  align-items: start;
  flex-direction: column;
  width: 100;
  
  
  background-color: rgb(255, 255, 255) !important;
  padding:1rem
  
}

.inputs-personal-info {
    border: none;
    padding: 0.7rem;
    width: 400px;
    border-bottom: #06d755 dashed 3px;
}

.submit-personal-info{
    border: none;
    padding:1rem;
    border-radius:10px;
    margin-left:45%;
    
    margin-top: 1rem;
    background-color: #06d755;
    color: white;
    font-weight: 600;
    min-width: 8rem;
}

.userinfo-info{
    font-size: 0.7rem;
    font-weight: 400;
}

.list_item_search_users:hover{
    background-color: #ededed
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: white;
}
